In [20]:
import pandas as pd

submit_df = pd.read_csv('submit_1.csv', delimiter=',')


submit_df.head()
# Вывод названий столбцов
column_names = submit_df.columns
print(column_names)

Index(['Unnamed: 0', 'customer_id', 'startdatetime', 'data_diff_post',
       'buy_post', 'prob_score'],
      dtype='object')

In [21]:
# Удаление ненужных столбцов
submit_df = submit_df.drop(['Unnamed: 0', 'startdatetime', 'prob_score'], axis=1)

# Переименование столбца
submit_df = submit_df.rename(columns={'data_diff_post': 'date_diff_post'})

# Вывод названий столбцов после удаления и переименования
column_names = submit_df.columns
print(column_names)

submit_df.drop_duplicates('customer_id', inplace=True)

Index(['customer_id', 'date_diff_post', 'buy_post'], dtype='object')

In [22]:
submit_df

        customer_id  date_diff_post  buy_post
0          13220760       17.902353         1
1          30315975       15.434191         1
2          21679985       18.550130         1
3          29754274       18.778276         1
4           7797823       11.958079         1
...             ...             ...       ...
573173     14023374       15.443827         0
575920     34923292       16.212638         1
578116     32761835       15.971400         1
580175     38322785       16.931498         1
580778     22730497       16.379065         1

[112334 rows x 3 columns]

In [23]:
submit_df.to_csv('submit_final.csv', index=False, sep=';')

In [18]:
import pandas as pd

submit_df = pd.read_csv('submission.csv', delimiter=';')


submit_df.head()
# Вывод названий столбцов
column_names = submit_df.columns
print(column_names)
submit_df

Index(['customer_id', 'date_diff_post', 'buy_post'], dtype='object')

        customer_id  date_diff_post  buy_post
0          13220760               0         0
1          30315975               0         0
2          21679985               0         0
3          29754274               0         0
4           7797823               0         0
...             ...             ...       ...
112329     14023374               0         0
112330     34923292               0         0
112331     32761835               0         0
112332     38322785               0         0
112333     22730497               0         0

[112334 rows x 3 columns]